// Resolutions
$maxWidthContainer: 1270;
$maxWidth: 1440;

// Media queries
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

// Colors
$black: #000000;
$white: #ffffff;
$orange: #e89f71;
$gray: #d8d8d8;
$mainTextColor: #3a3a3a;
$secondTextColor: #898989;
